<h1>Editing Compensation</h1>

<%= render 'form', compensation: @compensation %>

<%= link_to 'Show', employee_compensation_path(@employee, @compensation) %> |
<%= link_to 'Back', employee_compensation_path(@employee) %>
